<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ page.title }}</h1><br>
    {{ content }}
    <br><hr><br >
  Cyber Zone Repository -CZR.NET： <a href="https://CZR.NET" target="_blank">https://CZR.NET</a><br >
<script src="https://cdn.staticfile.net/translate.js/3.0.3/translate.js"></script>
<script> 
translate.language.setLocal('chinese_simplified'); //设置本地语种（当前网页的语种）。如果不设置，默认就是 'chinese_simplified' 简体中文。可填写如 'english'、'chinese_simplified' 等，具体参见文档下方关于此的说明。
translate.service.use('client.edge'); //设置机器翻译服务通道，直接客户端本身，不依赖服务端 。
translate.execute(); //进行翻译  
</script>
</body>
</html>
